<div class="card listContainer">
  <form class="form-inline" action="/" method="post">
    <input class="form-control" type="text" name="title" value="" placeholder="Enter a project">
    <button class="btn btn-primary" type="submit">Create Project</button>
  </form>

  <h4>Current Projects</h4>
  <% @projects.each do |project| %>
    <p><a href="/project/<%= project.id %>"><%= project.title%></a></p>
  <% end %>
</div>

<div class="card listContainer">
  <form class="form-inline" action="/" method="post">
    <input class="form-control" type="text" name="name" value="" placeholder="Enter a volunteer name">
    <button class="btn btn-primary" type="submit">Add Volunteer</button>
  </form>

  <h4>Current Volunteers</h4>
  <% @volunteers.each do |volunteer| %>
      <p><a href="/volunteer/<%= volunteer.id %>/edit"><%= volunteer.name %></a></p>
  <% end %>
</div>
