<h1>Welcome to the Volunteer Management System!</h1>

<form class="form-group" action="/" method="post">
  <label for="title">Project Title:</label>
  <input type="text" name="title" value="" placeholder="Enter a project">
  <button type="submit">Create Project</button>
</form>
    <% @projects.each do |project| %>
      <p><a href="/project/<%= project.id %>"><%= project.title%></a></p>
    <% end %>
