<h1>Manage <%= @project.title %></h1>

<a href="/project/edit/<%= @project.id %>"><button type="button" name="button">Edit Project</button></a>

<a href="/"><button type="button" name="button">Return Home</button></a>
