<div class="card listContainer">
  <h2 class="headerText"><%= @project.title %></h2>

  <a href="/project/<%= @project.id %>/edit"><button class="btn btn-primary" type="button" name="button">Edit Project</button></a>

  <a href="/"><button class="btn btn-primary" type="button" name="button">Return Home</button></a>
</div>

<div class="listContainer card">
  <% if @volunteers.any? %>
    <h3 class="headerText">Assigned Volunteers</h3>
    <% @project.volunteers.each do |volunteer| %>
        <p><%= volunteer.name %></p>
    <% end %>
  <% end %>
</div>
