<h1>Manage <%= @volunteer.name %></h1>

<a href="/volunteer/<%= @volunteer.id %>/edit"><button type="button" name="button">Edit Project</button></a>

<a href="/"><button type="button" name="button">Return Home</button></a>
